@media screen and (max-width : 450px) and (orientation: portrait){
  .overlay{	display:block; }

  .overlay .phone{
    animation:
            sizeIncrease .5s forwards ease,
            borderIncrease .5s .5s forwards ease,
            rotateRight .7s 1s forwards ease;
  }

  .overlay .phone i{
    animation:
            fadeIn .5s .8s forwards ease;
  }

  .overlay .iconContainer p{
    animation:
            fadeIn .5s 1.3s forwards ease;
  }
}

/* KEYFRAMES
------------------------------------------- */
/* Animate width + height */
@keyframes sizeIncrease {
  0%   { width: 0; height:10px; }
  50%  { width: 100px; height: 10px; }
  100% { width: 100px; height:160px; }
}
/* Add borders */
@keyframes borderIncrease {
  100% { border-width:20px 10px; }
}

/* fade-in  */
@keyframes fadeIn {
  100% { color:#000; opacity:1; }
}

/* Rotate device */
@keyframes rotateRight {
  100% { transform: rotate(90deg); }
}